<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div>
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h1>Proyectos de Planos Tecnicos de viviendas unifamiliares</h1>
                <p>Confección de carpeta tecnica: planos Municipales, Plano de Obra, Instalación Electrica, Instalación Sanitaria, Instalación de Gas y Detalles Constructivos. El Plano Municipal, junto con otros requisitos fue presentado a Obras particulares para su posterior aprobacion y autorizacion para ser ejecutada con posterioridad.</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/plano.png" class="img-fluid img-proyecto" >
            </div>
        </div>
    </div>
</div>
